<p><%= notice %></p>
<p> Account ID: <%=@account_histories.account_id %></p>
<p> Credit Rating: <%=@account_histories.credit_rating %></p>


<%= link_to "Back to Accounts History List", account_histories_path %><br>